.board {
  padding: 0.5rem;
  width: 100%;
  display: grid;
  row-gap: 0.5rem;
  outline: 2px solid var(--color-board);
  background-color: rgb(15, 15, 15);
  border-radius: 10px;
  color: #ff0000;

}

.row {
  display: grid;
  justify-items: center;
  gap: 0.5rem;
  width: max-content;
}

.column {
  aspect-ratio: 1;
  width: 40px;
  height: auto;
  border-radius: 50%;
  outline: 2px solid var(--color-board);
  overflow: hidden;
}

@media (width < 480px) {
  .board {
    padding: 0.3rem;
    row-gap: 0.3rem;
  }

  .row {
    gap: 0.3rem;
  }

  .column {
    outline-width: 1px;
  }
}

@media (width > 640px) {
  .column {
    min-width: 60px;
  }
}