.modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0a0a0a;
  padding: 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.cardSelectColor {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #0a0a0a;

  border-radius: 10px;
  box-shadow: 0 0 20px #00ffff;

  padding: 20px;
  max-width: 400px;
  text-align: center;
  color: white;
}

.cardSelectColor h2 {
  font-size: 1.5rem;
  color: #00ffff;
}

.containerColors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.colorOption {
  position: relative;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 2px solid var(--color-board);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.colorOption:hover {
  transform: scale(1.1);
}

.currentColor::after {
  content: '✔';
  position: absolute;
  display: grid;
  place-content: center;
  inset: 0;
  border-radius: 50%;
  background-color: #0a0a0ab3;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.button {
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: clamp(0.9rem, 3vw, 1rem);
  font-weight: 500;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.6);
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.primaryButton {
  background-color: #00bcd4;
  color: #fff;
}

.secondaryButton {
  background-color: #e2fafd;
  color: rgb(0, 218, 196);
}

.primaryButton:hover,
.secondaryButton:hover {
  transform: scale(1.05);
}

.primaryButton:active,
.secondaryButton:active {
  transform: scale(0.98);
}